.div-header {
    width: 100%;
    margin: auto;
    padding: 20px;
    justify-content: flex-start;

    background: #ffffff;
    border-radius: 12px;

}
.h2{
    font-size: 1.7rem!important;
    font-weight: 350!important;
}
#mi-foto {
    width: 200px;
    border-radius: 12px;
    box-shadow: #727272 1px 1px 3px 1px;
}

.descripcion{
    width: 90%;
}

/* @media (max-width:990px) {
    #mi-foto {
        width: 200px;
    }
} */