.App{
    background-color: #747373!important;
    padding-top: 1em;
    width: 80%;
    
    margin: auto;
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(82, 78, 78);
    border-radius: 15px;
}